body {
  font-family: 'Playwrite AU NSW', sans-serif;
    font-weight: 200;
  margin: 0;
  padding: 0;
  background-color:#4b0082;
  box-shadow: inset;

}
.app {
  text-align: center;
  text-decoration: double;
}
.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}